<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:usesCleartextTraffic="true">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".acercade"
            android:exported="false" />
        <activity
            android:name=".verIincidencias"
            android:exported="false" />
        <activity
            android:name=".LeerQR"
            android:exported="false" />
        <activity
            android:name=".inicioPasajero"
            android:exported="false" />
        <activity
            android:name=".Incidencias"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.action.Incidencias" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registrar_Asistencia"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.action.Registrar_Asistencia" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Notificaciones"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.action.Notificaciones" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Perfil"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.action.Perfil" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inicio"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.action.Inicio" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/button_radius" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>